.human-container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.page-header {
  text-align: left;
}

.human-content {
  margin-top: 0.5rem; /* margin을 2rem에서 0.5rem으로 줄임 */
  /* 3D 컨텐츠를 위한 스타일링 추가 예정 */
  width: 100%;
  height: 1vh; /* 높이를 5vh에서 1vh로 더 줄임 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; 회색 배경 제거 */
  border-radius: 8px;
} 